.header__lang-link {
  margin-bottom: 6px;

  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  transition: opacity .2s linear;
}

.header__lang-link:hover {
  opacity: .7;
}

@media screen and (max-width: 767px){
  .header__lang-link {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 20px;
  }
}
