.lead__title {
  margin: 0;
  max-width: 720px;

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px){
  .lead__title {
    max-width: 300px;

    line-height: 44px;
    font-size: 40px;
  }
}
