.footer__copyright {
  margin: 0;

  justify-self: end;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 767px){
  .footer__copyright {
    justify-self: start;
    line-height: 14px;
  }
}
