.cover {
  margin: 0 48px;

  position: relative;
  z-index: 0;

  background-image: url(../../images/cover__background-tinyfied.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  aspect-ratio: 1.6;
}

.cover::before {
  content: "";

  position: absolute;
  inset: 0;
  z-index: -1;

  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .3s;
}

.cover:hover.cover::before {
  opacity: .8;
}

@media screen and (max-width: 1280px){
  .cover {
    margin: 0;
  }
}
