.cover__title {
  margin: 0;
  max-width: 560px;

  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px){
  .cover__title {
    max-width: 240px;

    font-size: 32px;
    line-height: 35px;
  }
}

