.footer {
  padding: 0 48px;

  display: grid;
  grid-template-columns: max-content 1fr;
}

@media screen and (max-width: 1023px){
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px){
  .footer {
    padding: 0 16px;
    grid-template-columns: minmax(min-content, max-content);
    row-gap: 48px;
  }
}
